.hidden {
    position: absolute;
    visibility: hidden;
    top: 0;
}

.clear {
    clear: both;
}

.range_div {
    float: left;
    margin-right: 5rem;
}

.upload-div {
    margin-right: 10px;
    margin-bottom: 10px;
}

#upload-button,
#text-button {
    height: 27px;
    width: 101px;
}

.upload-div p {
    margin-bottom: 3px;
}

#upload-button {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.click_to_hide {
    position: relative;
    left: -410px;
}
